{{!-- header --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #EE82EE;">
        <div class="container">
            <a class="navbar-brand logo_header" href="/">LD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t39.30808-6/263463917_944843069454541_152855876921443669_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=W3tECHk6g-gAX_DpgYN&tn=p9CK7chysXieCyrv&_nc_ht=scontent-hkg4-2.xx&oh=00_AT8O98xj-o3J3Wdg6mVMK7aJxWIBJHOC2hqCwISXpp71Gg&oe=632A306C"
                                alt="avt" class="avt-header">
                            Nhật Linh
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/products/create">Đăng sản phẩm</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/products">Sản phẩm của tôi</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
</body>

</html>